.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Form {
  margin: 50px 0 100px 0;
}

.Input {
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

.Button {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 10px;
}
